# FORMAI ELLENORZO RENDSZER - Konfiguracios Fajl
# ===================================================
# Ez a fajl tartalmazza a rendszer alapbeallitasait
# Modositsd ezeket az ertekeket igenyeid szerint

# Mire nevezzük át az input fájlokat
rename_prefix=NONE

# Bementi konyvtar - ide keruljenek a feldolgozando DOCX fajlok
input_folder=c:\tmp\keziratok_teszteleshez

# Kimeneti konyvtar - ide keszulnek az Excel jelentesek
output_folder=c:\tmp

# Web ellenőrzés futtatása
web_check_enabled=True



